@use '../01-settings/settings.config' as *;
@use '../01-settings/settings.form-group' as *;
@use '../02-tools/tools.rem' as *;
@use '../02-tools/tools.background' as *;

.c-form-group {
  $root: &;

  --#{$prefix}input-group-width: #{$input-group-width};
  --#{$prefix}input-group-label-color: #{$input-group-label-color};
  --#{$prefix}input-group-label-font-size: #{$input-group-label-font-size};
  --#{$prefix}input-group-label-margin-bottom: #{rem($input-group-label-margin-bottom)};
  --#{$prefix}input-group-helper-text-color: #{$input-group-helper-text-color};
  --#{$prefix}input-group-helper-text-font-size: #{$input-group-helper-text-font-size};
  --#{$prefix}input-group-helper-text-margin-top: #{rem($input-group-helper-text-margin-top)};

  position: relative;
  width: 100%;
  max-width: var(--#{$prefix}input-group-width);

  &__label {
    display: block;
    color: var(--#{$prefix}input-group-label-color);
    font-size: var(--#{$prefix}input-group-label-font-size);
    margin-bottom: var(--#{$prefix}input-group-label-margin-bottom);
  }

  &__field {
    display: inline-block;
    width: 100%;
  }

  &__helper {
    color: var(--#{$prefix}input-group-helper-text-color);
    font-size: var(--#{$prefix}input-group-helper-text-font-size);
    margin-top: var(--#{$prefix}input-group-helper-text-margin-top);
  }

  &--lg {
    #{$root}__field {
      @extend .c-input--lg !optional;
    }
  }

  &--sm {
    --#{$prefix}input-group-label-font-size: #{$input-group-label-font-size-sm};

    #{$root}__field {
      @extend .c-input--sm !optional;
    }
  }

  &.is-success {
    --#{$prefix}input-group-helper-text-color: var(--#{$prefix}success-text-emphasis);

    #{$root}__field {
      @extend .is-success !optional;
    }
  }

  &.is-invalid {
    --#{$prefix}input-group-helper-text-color: var(--#{$prefix}error-text-emphasis);

    #{$root}__field {
      @extend .is-invalid !optional;
    }
  }

  &:disabled,
  &.is-disabled {
    > * {
      pointer-events: none;
    }

    #{$root}__field {
      @extend .is-disabled !optional;
    }
  }
}
