@use '../01-settings/settings.config' as config;
@use '../01-settings/settings.colors' as *;
@use '../01-settings/settings.design-tokens' as maps;
@use '../01-settings/settings.modal' as modal;
@use '../02-tools/tools.rem' as rem;
@use '../02-tools/tools.size' as *;
@use '../02-tools/tools.spacing' as *;
@use '../01-settings/settings.z-layers' as *;
@use '../02-tools/tools.background' as *;
@use 'sass:map';

.c-modal {
  $root: &;

  --#{config.$prefix}modal-inner-padding: #{rem.rem(modal.$modal-inner-padding)};

  --#{config.$prefix}modal-content-color: #{modal.$modal-content-color};
  --#{config.$prefix}modal-content-bg: #{modal.$modal-content-bg};
  --#{config.$prefix}modal-content-border-radius: #{modal.$modal-content-border-radius};
  --#{config.$prefix}modal-content-box-shadow: #{modal.$modal-content-box-shadow};

  --#{config.$prefix}modal-header-padding-bottom: #{rem.rem(modal.$modal-header-padding-bottom)};
  --#{config.$prefix}modal-title-font-size: #{modal.$modal-title-font-size};
  --#{config.$prefix}modal-sub-margin-top: #{rem.rem(modal.$modal-sub-margin-top)};
  --#{config.$prefix}modal-sub-color: #{modal.$modal-sub-color};
  --#{config.$prefix}modal-sub-font-size: #{modal.$modal-sub-font-size};

  --#{config.$prefix}modal-footer-items-gap: #{rem.rem(modal.$modal-footer-items-gap)};

  --#{config.$prefix}modal-backdrop-bg: #{modal.$modal-backdrop-bg};
  --#{config.$prefix}modal-backdrop-opacity: #{modal.$modal-backdrop-opacity};
  --#{config.$prefix}modal-backdrop-blur: #{modal.$modal-backdrop-blur};

  --#{config.$prefix}modal-close-icon-color: #{modal.$modal-close-icon-color};
  --#{config.$prefix}modal-close-icon-size: #{rem.rem(modal.$modal-close-icon-size)};

  --#{config.$prefix}modal-sm: #{rem.rem(modal.$modal-sm)};
  --#{config.$prefix}modal-md: #{rem.rem(modal.$modal-md)};
  --#{config.$prefix}modal-lg: #{rem.rem(modal.$modal-lg)};
  --#{config.$prefix}modal-xl: #{rem.rem(modal.$modal-xl)};
  --#{config.$prefix}modal-width: var(--#{config.$prefix}modal-md);

  position: absolute;
  inset: 0;
  @include square(100%);
  display: none;

  &:not(.c-modal--glass) {
    z-index: map.get($z-layers, modal);
  }

  &__backdrop {
    position: absolute;
    inset: 0;
    @include dynamic-background(var(--#{config.$prefix}modal-backdrop-bg));
    opacity: 0;
    transition: 0.3s;
  }

  &__dialog {
    position: relative;
    display: flex;
    align-items: center;
    max-width: var(--#{config.$prefix}modal-width);
    height: 100%;
    padding: var(--#{config.$prefix}modal-inner-padding);
    margin: {
      left: auto;
      right: auto;
    }
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    padding: var(--#{config.$prefix}modal-inner-padding);
    @include dynamic-background(var(--#{config.$prefix}modal-content-bg));
    box-shadow: var(--#{config.$prefix}modal-content-box-shadow);
    border-radius: var(--#{config.$prefix}modal-content-border-radius);
    overflow: hidden;
    pointer-events: auto;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: var(--#{config.$prefix}modal-header-padding-bottom);
  }

  &__title {
    font-size: var(--#{config.$prefix}modal-title-font-size);
  }

  &__sub {
    color: var(--#{config.$prefix}modal-sub-color);
    font-size: var(--#{config.$prefix}modal-sub-font-size);
    margin-top: var(--#{config.$prefix}modal-sub-margin-top);
  }

  &__body {
    padding: var(--#{config.$prefix}modal-inner-padding) 0;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    gap: var(--#{config.$prefix}modal-footer-items-gap);
    padding-top: var(--#{config.$prefix}modal-inner-padding);
  }

  &__close {
    @include pr(0);
    @include pt(0);
    cursor: pointer;
    user-select: none;
    z-index: 3;

    svg {
      @include square(var(--#{config.$prefix}modal-close-icon-size));
    }
  }

  &--sm {
    --#{config.$prefix}modal-width: var(--#{config.$prefix}modal-sm);
  }

  &--md {
    --#{config.$prefix}modal-width: var(--#{config.$prefix}modal-md);
  }

  &--lg {
    --#{config.$prefix}modal-width: var(--#{config.$prefix}modal-lg);
  }

  &--xl {
    --#{config.$prefix}modal-width: var(--#{config.$prefix}modal-xl);
  }

  &--glass {
    #{$root} {
      &__content {
        @include dynamic-background(
          var(--#{config.$prefix}modal-content-bg),
          $background-transparency-enable: true
        );
        box-shadow: none;
        border-radius: inherit;

        width: var(--#{config.$prefix}modal-width);
        height: 100%;
      }
    }
  }

  &.is-open {
    #{$root} {
      &__backdrop {
        opacity: var(--#{config.$prefix}modal-backdrop-opacity);
      }

      &__dialog {
        opacity: 1;
      }
    }
  }
}
