@use 'sass:map';
@use '../01-settings/_settings.list-group' as *;
@use '../01-settings/settings.config' as config;
@use '../01-settings/settings.colors' as *;
@use '../01-settings/settings.design-tokens' as maps;
@use '../02-tools/tools.rem' as *;
@use '../02-tools/tools.background' as *;

.c-list-group {
  --#{config.$prefix}list-group-width: #{$list-group-width};
  --#{config.$prefix}list-group-bg: #{$list-group-bg};
  --#{config.$prefix}list-group-item-padding-y: #{rem($list-group-item-padding-y)};
  --#{config.$prefix}list-group-item-padding-x: #{rem($list-group-item-padding-x)};
  --#{config.$prefix}list-group-item-font-size: #{$list-group-item-font-size};
  --#{config.$prefix}list-group-item-color: #{$list-group-item-color};
  --#{config.$prefix}list-group-item-disabled-color: #{$list-group-item-disabled-color};
  --#{config.$prefix}list-group-item-border-color: #{$list-group-item-border-color};
  --#{config.$prefix}list-group-item-border-width: #{$list-group-item-border-width};
  --#{config.$prefix}list-group-item-bg: #{$list-group-item-bg};

  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  width: 100%;
  max-width: var(--#{config.$prefix}list-group-width);
  @include dynamic-background(var(--#{config.$prefix}list-group-bg));

  &__item {
    padding: var(--#{config.$prefix}list-group-item-padding-y)
      var(--#{config.$prefix}list-group-item-padding-x);
    font-size: var(--#{config.$prefix}list-group-item-font-size);
    color: var(--#{config.$prefix}list-group-item-color);
    border-bottom: var(--#{config.$prefix}list-group-item-border-width) solid
      var(--#{config.$prefix}list-group-item-border-color);
    @include dynamic-background(var(--#{config.$prefix}list-group-item-bg));

    @each $state in map.keys(maps.$theme-colors) {
      &--#{$state} {
        @if ($state == 'light') {
          --#{config.$prefix}list-group-item-bg: var(--#{config.$prefix}#{$state});
        } @else if ($state == 'dark') {
          --#{config.$prefix}list-group-item-color: var(--#{config.$prefix}invert-text-emphasis);
          --#{config.$prefix}list-group-item-bg: var(--#{config.$prefix}#{$state});

          // @include color-mode('dark') {
          //     --#{$prefix}list-group-item-color: var(--#{$prefix}body-color);
          // }
        } @else if($state == 'primary') {
          --#{config.$prefix}list-group-item-bg: var(--#{config.$prefix}brand-bg-subtle);
        } @else {
          --#{config.$prefix}list-group-item-bg: var(--#{config.$prefix}#{$state}-bg-subtle);
        }
      }
    }

    &--disabled {
      --#{config.$prefix}list-group-item-color: var(
        --#{config.$prefix}list-group-item-disabled-color
      );
    }
  }
}
