@use '../01-settings/settings.config' as *;
@use '../01-settings/settings.input' as *;
@use '../01-settings/settings.form-group' as *;
@use '../02-tools/tools.rem' as *;
@use '../02-tools/tools.background' as *;

.c-form-group {
  $root: &;

  --#{$prefix}input-group-width: #{$input-group-width};
  --#{$prefix}input-group-label-color: #{$input-group-label-color};
  --#{$prefix}input-group-label-font-size: #{$input-group-label-font-size};
  --#{$prefix}input-group-label-margin-bottom: #{rem($input-group-label-margin-bottom)};
  --#{$prefix}input-group-helper-text-color: #{$input-group-helper-text-color};
  --#{$prefix}input-group-helper-text-font-size: #{$input-group-helper-text-font-size};
  --#{$prefix}input-group-helper-text-margin-top: #{rem($input-group-helper-text-margin-top)};

  position: relative;
  width: 100%;
  max-width: var(--#{$prefix}input-group-width);

  &__label {
    display: block;
    color: var(--#{$prefix}input-group-label-color);
    font-size: var(--#{$prefix}input-group-label-font-size);
    margin-bottom: var(--#{$prefix}input-group-label-margin-bottom);
  }

  &__field {
    display: inline-block;
    width: 100%;
  }

  &__helper {
    color: var(--#{$prefix}input-group-helper-text-color);
    font-size: var(--#{$prefix}input-group-helper-text-font-size);
    margin-top: var(--#{$prefix}input-group-helper-text-margin-top);
  }

  &--lg {
    #{$root}__field {
      --#{$prefix}input-font-size: #{$input-font-size-lg};
      --#{$prefix}input-line-height: #{$input-line-height-lg};
      --#{$prefix}input-padding-x: #{rem($input-padding-x-lg)};
      --#{$prefix}input-padding-y: #{rem($input-padding-y-lg)};
    }
  }

  &--sm {
    --#{$prefix}input-group-label-font-size: #{$input-group-label-font-size-sm};

    #{$root}__field {
      --#{$prefix}input-font-size: #{$input-font-size-sm};
      --#{$prefix}input-line-height: #{$input-line-height-sm};
      --#{$prefix}input-padding-x: #{rem($input-padding-x-sm)};
      --#{$prefix}input-padding-y: #{rem($input-padding-y-sm)};
    }
  }

  &.is-success {
    --#{$prefix}input-group-helper-text-color: var(--#{$prefix}success-text-emphasis);

    #{$root}__field {
      --#{$prefix}input-border-color: #{$input-success-border-color};
    }
  }

  &.is-invalid {
    --#{$prefix}input-group-helper-text-color: var(--#{$prefix}error-text-emphasis);

    #{$root}__field {
      --#{$prefix}input-border-color: #{$input-invalid-border-color};
    }
  }

  &:disabled,
  &.is-disabled {
    > * {
      pointer-events: none;
    }

    #{$root}__field {
      --#{$prefix}input-color: #{$input-disabled-color};
      --#{$prefix}input-bg: #{$input-disabled-bg};

      pointer-events: none;
    }
  }
}
