@use 'sass:map';
@use '../01-settings/settings.config' as *;
@use '../01-settings/settings.countdown' as *;
@use '../01-settings/settings.typography' as *;
@use '../02-tools/tools.rem' as *;
@use '../02-tools/tools.background' as *;

.c-countdown {
  $root: &;

  --#{$prefix}countdown-color: #{$countdown-color};
  --#{$prefix}countdown-font-size: #{$countdown-font-size};
  --#{$prefix}countdown-font-weight: #{$countdown-font-weight};
  --#{$prefix}countdown-focused-time-font-size: #{$countdown-focused-time-font-size};
  --#{$prefix}countdown-focused-label-font-size: #{$countdown-focused-label-font-size};
  --#{$prefix}countdown-focused-border-radius: #{$countdown-focused-border-radius};
  --#{$prefix}countdown-focused-bg: #{$countdown-focused-bg};
  --#{$prefix}countdown-item-padding-x: #{rem($countdown-item-padding-x)};
  --#{$prefix}countdown-item-padding-y: #{rem($countdown-item-padding-y)};
  --#{$prefix}countdown-items-gap: #{rem($countdown-items-gap)};
  --#{$prefix}countdown-focused-items-gap: #{rem($countdown-focused-items-gap)};

  display: flex;
  align-items: center;
  gap: var(--#{$prefix}countdown-items-gap);

  &__time {
    display: flex;
  }

  &__time-count {
    color: var(--#{$prefix}countdown-color);
    font-size: var(--#{$prefix}countdown-font-size);
    font-weight: var(--#{$prefix}countdown-font-weight);
  }

  &__separator {
    color: var(--#{$prefix}countdown-color);
    font-size: var(--#{$prefix}countdown-font-size);
  }

  &__time-label {
    @extend .c-countdown__time-count;
  }

  &--focused {
    gap: var(--#{$prefix}countdown-focused-items-gap);

    #{$root} {
      &__time {
        flex-direction: column;
        align-items: center;
        padding: var(--#{$prefix}countdown-item-padding-y) var(--#{$prefix}countdown-item-padding-x);
        border-radius: var(--#{$prefix}countdown-focused-border-radius);
        @include dynamic-background(var(--#{$prefix}countdown-focused-bg));
      }

      &__time-label {
        font-size: var(--#{$prefix}countdown-focused-label-font-size);
        font-weight: $font-weight-normal;
      }
    }
  }
}
