@use 'sass:map';
@use '../01-settings/settings.config' as *;
@use '../01-settings/settings.checkbox' as *;
@use '../01-settings/settings.border-radius' as *;
@use '../02-tools/tools.rem' as *;
@use '../02-tools/tools.animations' as *;
@use '../02-tools/tools.background' as *;

.c-checkbox {
  $root: &;

  --#{$prefix}checkbox-width: #{$checkbox-width};
  --#{$prefix}checkbox-height: #{$checkbox-height};
  --#{$prefix}checkbox-spacer: #{$checkbox-spacer};
  --#{$prefix}checkbox-font-size: #{$checkbox-font-size};
  --#{$prefix}checkbox-text-color: #{$checkbox-text-color};
  --#{$prefix}checkbox-text-color-disabled: #{$checkbox-text-color-disabled};
  --#{$prefix}checkbox-checked-text-color: #{$checkbox-checked-text-color};
  --#{$prefix}checkbox-checked-text-color-disabled: #{$checkbox-checked-text-color-disabled};
  --#{$prefix}checkbox-bg: #{$checkbox-bg};
  --#{$prefix}checkbox-checked-bg: #{$checkbox-checked-bg};
  --#{$prefix}checkbox-checked-bg-hover: #{$checkbox-checked-bg-hover};
  --#{$prefix}checkbox-checked-bg-disabled: #{$checkbox-checked-bg-disabled};
  --#{$prefix}checkbox-border-width: #{$checkbox-border-width};
  --#{$prefix}checkbox-border-color: #{$checkbox-border-color};
  --#{$prefix}checkbox-border-color-hover: #{$checkbox-border-color-hover};
  --#{$prefix}checkbox-border-color-disabled: #{$checkbox-border-color-disabled};
  --#{$prefix}checkbox-border-color-error: #{$checkbox-border-color-error};

  display: flex;
  gap: var(--#{$prefix}checkbox-spacer);

  &__input {
    position: relative;
    appearance: none;
    @include dynamic-background(var(--#{$prefix}checkbox-bg));
    width: var(--#{$prefix}checkbox-width);
    height: var(--#{$prefix}checkbox-height);
    color: currentColor;
    border: var(--#{$prefix}checkbox-border-width) solid var(--#{$prefix}checkbox-border-color);
    border-radius: var(--#{$prefix}checkbox-border-radius);
    overflow: hidden;
    @include basic-transition();

    &[type='radio'] {
      border-radius: $border-radius-pill;
    }

    &::before {
      position: absolute;
      top: -7px;
      left: -4px;
      font-family: 'Lux Icon';
      color: var(--#{$prefix}checkbox-checked-bg);
      content: '\ef10';
      font-size: rem(26px);
      transform: scale(0);
      display: block;
      transform-origin: center;
      transition: 120ms transform ease-in-out;
    }

    &:hover {
      border-color: var(--#{$prefix}checkbox-border-color-hover);
    }

    &:checked {
      border-color: var(--#{$prefix}checkbox-checked-bg);

      &::before {
        transform: scale(1);
      }

      &:hover {
        border-color: var(--#{$prefix}checkbox-checked-bg-hover);

        &::before {
          color: var(--#{$prefix}checkbox-checked-bg-hover);
        }
      }

      & + #{$root} {
        color: red;
      }
    }

    &:focus-visible {
      outline: 2px solid var(--#{$prefix}brand-border-subtle);
    }

    &:disabled {
      border-color: var(--#{$prefix}checkbox-border-color-disabled) !important;
      cursor: not-allowed;

      &::before {
        color: var(--#{$prefix}checkbox-checked-text-color-disabled) !important;
      }
    }
  }

  &__label {
    font-size: var(--#{$prefix}checkbox-font-size);
    color: var(--#{$prefix}checkbox-text-color);
  }

  &.is-disabled {
    --#{$prefix}checkbox-text-color: var(--#{$prefix}checkbox-text-color-disabled);

    #{$root} {
      &__input {
        border-color: var(--#{$prefix}checkbox-border-color-disabled) !important;
        cursor: not-allowed;

        &::before {
          color: var(--#{$prefix}checkbox-checked-text-color-disabled) !important;
        }
      }
    }
  }

  &.is-error {
    #{$root} {
      &__input {
        border-color: var(--#{$prefix}checkbox-border-color-error) !important;
      }
    }
  }

  &--mixed {
    #{$root} {
      &__input::before {
        content: '\f0d6';
      }
    }
  }
}
