@use 'sass:map';
@use 'sass:meta';
@use 'sass:color';

/// Calls `$function` for each pair in `$map`, passing the value of `$key` and `$value` as arguments.
/// Returns a new map with the same keys and the result of `$function` as values.
@function map-loop($map, $function, $key: '$key', $value: '$value') {
  $result: ();

  @each $k, $v in $map {
    $function-result: meta.call($function, $v);
    $result: map.merge(
      $result,
      (
        $k: $function-result,
      )
    );
  }

  @return $result;
}
