@use 'sass:color';
@use 'sass:map';
@use '../01-settings/settings.config' as config;
@use '../01-settings/settings.button' as button;
@use '../01-settings/settings.colors' as colors;
@use '../01-settings/settings.design-tokens' as tokens;
@use '../01-settings/settings.border-radius' as *;
@use 'tools.to-rgb' as *;
@use 'tools.border-radius' as *;

// Button variant mixin
@mixin btn-variant($color,
  $background,
  $border: $background,
  $hover-background: null,
  $hover-border: null,
  $active-background: null,
  $active-border: null) {
  $btn-text-color: var(--#{config.$prefix}white, #{colors.$white});
  $btn-text-hover-color: var(--#{config.$prefix}white, #{colors.$white});

  @if ($color =='light') {
    $btn-text-color: var(--#{config.$prefix}dark-text-emphasis, #{colors.$dark-text});
    $btn-text-hover-color: var(--#{config.$prefix}dark-text-emphasis, #{colors.$dark-text});
  }

  @else if ($color =='secondary') {
    $btn-text-color: var(--#{config.$prefix}dark-text-emphasis, #{colors.$dark-text});
    $btn-text-hover-color: var(--#{config.$prefix}dark-text-emphasis, #{colors.$dark-text});
  }

  --#{config.$prefix}btn-color: #{$btn-text-color};
  --#{config.$prefix}btn-bg: var(--#{config.$prefix}#{$color}, #{$background});
  --#{config.$prefix}btn-border-color: var(--#{config.$prefix}#{$color}, #{$border});
  --#{config.$prefix}btn-hover-color: #{$btn-text-hover-color};
  --#{config.$prefix}btn-hover-bg: var(--#{config.$prefix}#{$color}-hover, #{color.scale($background, $lightness: -15%)});
  --#{config.$prefix}btn-hover-border-color: var(--#{config.$prefix}#{$color}-hover, #{color.scale($border, $lightness: -10%)});
  --#{config.$prefix}btn-active-color: var(--#{config.$prefix}white, #{colors.$white});
  --#{config.$prefix}btn-active-bg: var(--#{config.$prefix}#{$color}-hover, #{color.scale($background, $lightness: -20%)});
  --#{config.$prefix}btn-active-border-color: var(--#{config.$prefix}#{$color}-hover, #{color.scale($border, $lightness: -25%)});
  --#{config.$prefix}btn-disabled-color: var(--#{config.$prefix}white, #{colors.$white});
  --#{config.$prefix}btn-disabled-bg: var(--#{config.$prefix}#{$color}, #{$background});
  --#{config.$prefix}btn-disabled-border-color: var(--#{config.$prefix}#{$color}, #{$border});
}

// Button outline variant mixin
@mixin btn-outline-variant($color,
  $color-hover: null,
  $hover-background: null,
  $hover-border: null,
  $active-background: null,
  $active-border: null) {
  $btn-color: var(--#{config.$prefix}#{$color}, #{map.get(tokens.$theme-colors, $color)});

  $btn-hover-color: var(--#{config.$prefix}white, #{colors.$white});

  @if $color-hover {
    $btn-hover-color: var(--#{config.$prefix}#{$color-hover}, #{map.get(tokens.$theme-colors, $color-hover)});
  }

  $btn-hover-bg: var(--#{config.$prefix}#{$color}-hover, #{color.scale(map.get(tokens.$theme-colors, $color), $lightness: -15%)});

  @if $hover-background {
    $btn-hover-bg: var(--#{config.$prefix}#{$hover-background}, #{map.get(tokens.$theme-colors, $hover-background)});
  }

  $btn-hover-border: var(--#{config.$prefix}#{$color}-hover, #{color.scale(map.get(tokens.$theme-colors, $color), $lightness: -10%)});

  @if $hover-border {
    $btn-hover-border: var(--#{config.$prefix}#{$hover-border}, #{map.get(tokens.$theme-colors, $hover-border)});
  }

  $btn-active-color: var(--#{config.$prefix}white, #{colors.$white});

  @if $color-hover {
    $btn-active-color: var(--#{config.$prefix}#{$color-hover}, #{map.get(tokens.$theme-colors, $color-hover)});
  }

  $btn-active-bg: var(--#{config.$prefix}#{$color}-hover, #{color.scale(map.get(tokens.$theme-colors, $color), $lightness: -20%)});

  @if $active-background {
    $btn-active-bg: var(--#{config.$prefix}#{$active-background}, #{map.get(tokens.$theme-colors, $active-background)});
  }

  $btn-active-border: var(--#{config.$prefix}#{$color}-hover, #{color.scale(map.get(tokens.$theme-colors, $color), $lightness: -25%)});

  @if $active-border {
    $btn-active-border: var(--#{config.$prefix}#{$active-border}, #{map.get(tokens.$theme-colors, $active-border)});
  }

  --#{config.$prefix}btn-color: #{$btn-color};
  --#{config.$prefix}btn-bg: transparent;
  --#{config.$prefix}btn-border-color: #{$btn-color};
  --#{config.$prefix}btn-hover-color: #{$btn-hover-color};
  --#{config.$prefix}btn-hover-bg: #{$btn-hover-bg};
  --#{config.$prefix}btn-hover-border-color: #{$btn-hover-border};
  --#{config.$prefix}btn-active-color: #{$btn-active-color};
  --#{config.$prefix}btn-active-bg: #{$btn-active-bg};
  --#{config.$prefix}btn-active-border-color: #{$btn-active-border};
  --#{config.$prefix}btn-disabled-color: #{$btn-color};
  --#{config.$prefix}btn-disabled-bg: transparent;
  --#{config.$prefix}btn-disabled-border-color: #{$btn-color};
}

// Button size mixin
@mixin btn-size($padding-y, $padding-x, $font-size, $border-radius) {
  --#{config.$prefix}btn-padding-y: #{$padding-y};
  --#{config.$prefix}btn-padding-x: #{$padding-x};
  --#{config.$prefix}btn-font-size: #{$font-size};
  --#{config.$prefix}btn-border-radius: #{$border-radius};
}