@use 'sass:map';
@use 'settings.spacing' as spacing;
@use 'settings.config' as config;
@use 'settings.typography' as fonts;

$breadcrumb-font-size: fonts.$font-size-sm !default;

$breadcrumb-link-padding-y: map.get(spacing.$spacing-sizes, 1) !default;
$breadcrumb-link-padding-x: map.get(spacing.$spacing-sizes, 0) !default;
$breadcrumb-link-border-width: map.get(spacing.$spacing-sizes, 2) !default;

$breadcrumb-items-gap: map.get(spacing.$spacing-sizes, 3) !default;

$breadcrumb-margin-bottom: map.get(spacing.$spacing-sizes, 4) !default;

$breadcrumb-bg: null !default;

$breadcrumb-color: var(--#{config.$prefix}tertiary-text-emphasis) !default;
$breadcrumb-hover-color: var(--#{config.$prefix}body-color) !default;
$breadcrumb-active-color: var(--#{config.$prefix}body-color) !default;

$breadcrumb-divider-color: var(--#{config.$prefix}tertiary-text-emphasis) !default;
$breadcrumb-divider-active-color: var(--#{config.$prefix}tertiary-text-emphasis) !default;
$breadcrumb-divider: '\203A' !default; // Unicode character for '›'
$breadcrumb-divider-size: map.get(spacing.$spacing-sizes, 4) !default;
$breadcrumb-divider-gap: map.get(spacing.$spacing-sizes, 3) !default;
