@use './settings.colors' as colors;

$box-shadow: 0 8px 16px rgba(colors.$black, 0.15) !default;
$box-shadow-xs:
  0px 1px 2px 0px rgba(45, 54, 67, 0.04),
  0px 2px 4px 0px rgba(45, 54, 67, 0.08) !default;
$box-shadow-sm: 0 2px 4px rgba(colors.$black, 0.075) !default;
$box-shadow-md: 0 4px 8px rgba(colors.$black, 0.1) !default;
$box-shadow-lg: 0 16px 48px rgba(colors.$black, 0.175) !default;
$box-shadow-xl: 0px 16px 64px -8px rgba(45, 54, 67, 0.14) !default;
$box-shadow-inset: inset 0 1px 2px rgba(colors.$black, 0.075) !default;

// Dark mode

$box-shadow-dark:
  0px 8px 40px -8px rgba(30, 30, 30, 0.7),
  0px 4px 20px 0px rgba(30, 30, 30, 0.8) !default;
$box-shadow-xs-dark:
  0px 1px 2px 0px rgba(30, 30, 30, 0.5),
  0px 2px 4px 0px rgba(30, 30, 30, 0.5) !default;
$box-shadow-sm-dark:
  0px 2px 4px -2px rgba(30, 30, 30, 0.5),
  0px 4px 8px -2px rgba(30, 30, 30, 0.5) !default;
$box-shadow-md-dark:
  0px 4px 12px -2px rgba(30, 30, 30, 0.5),
  0px 6px 16px -2px rgba(30, 30, 30, 0.5) !default;
$box-shadow-lg-dark:
  0px 8px 18px -2px rgba(30, 30, 30, 0.5),
  0px 8px 24px -2px rgba(30, 30, 30, 0.5) !default;
$box-shadow-xl-dark:
  0px 33px 61px -8px rgba(30, 30, 30, 0.9),
  0px 8px 10px 0px rgba(30, 30, 30, 0.9) !default;
