@use 'sass:map';
@use './settings.spacing' as *;
@use 'settings.config' as config;
@use 'settings.typography' as typography;

$hero-padding-x: map.get($spacing-sizes, 0) !default; //0px
$hero-padding-y: map.get($spacing-sizes, 10) !default; //40px
$hero-spacer-y: map.get($spacing-sizes, 16) !default; //64px

$hero-bg: var(--#{config.$prefix}body-bg) !default;
$hero-overlay: var(--#{config.$prefix}brand-bg-subtle) !default;
$hero-overlay-opacity: 0.5 !default;

$hero-subtitle-font-size: typography.$font-size-sm !default;
$hero-title-font-size: typography.$display-1 !default;
$hero-text-font-size: typography.$font-size-base !default;

$hero-subtitle-color: var(--#{config.$prefix}secondary-text-emphasis) !default;
$hero-title-color: var(--#{config.$prefix}body-color) !default;
$hero-text-color: var(--#{config.$prefix}secondary-color-text-emphasis) !default;

$hero-subtitle-font-weight: typography.$font-weight-normal !default;
$hero-title-font-weight: typography.$font-weight-bold !default;
$hero-text-font-weight: typography.$font-weight-normal !default;

$hero-subtitle-margin-bottom: map.get($spacing-sizes, 3) !default; //12px
$hero-text-margin-top: map.get($spacing-sizes, 3) !default; //12px
$hero-actions-margin-top: map.get($spacing-sizes, 6) !default; //24px
$hero-actions-inner-gap: map.get($spacing-sizes, 3) !default; //12px

$hero-grid-gutter: 64px !default;
$hero-content-width: 800px !default;
