@use 'sass:map';
@use 'settings.typography' as typography;
@use 'settings.config' as config;
@use 'settings.border-radius' as border-radius;
@use './settings.spacing' as *;

$dropdown-min-width: 180px !default;
$dropdown-font-size: typography.$font-size-base !default;
$dropdown-color: var(--#{config.$prefix}body-color) !default;
$dropdown-bg: var(--#{config.$prefix}body-bg) !default;
$dropdown-border-color: var(--#{config.$prefix}primary-border-subtle) !default;
$dropdown-border-radius: border-radius.$border-radius !default;
$dropdown-border-width: var(--#{config.$prefix}border-width) !default;
$dropdown-padding-x: map.get($spacing-sizes, 0) !default; //0px
$dropdown-padding-y: map.get($spacing-sizes, 2) !default; //8px
$dropdown-spacer: map.get($spacing-sizes, 1) !default; //4px
$dropdown-box-shadow: var(--#{config.$prefix}box-shadow) !default;

$dropdown-item-padding-x: map.get($spacing-sizes, 4) !default; //16px
$dropdown-item-padding-y: map.get($spacing-sizes, 2) !default; //8px
$dropdown-item-hover-color: var(--#{config.$prefix}secondary-text-emphasis) !default;
$dropdown-item-hover-bg: var(--#{config.$prefix}brand-bg-subtle) !default;

// Animation settings
$dropdown-animation-duration: 0.25s !default;
$dropdown-animation-timing: cubic-bezier(0.16, 1, 0.3, 1) !default;

// Link variables
$dropdown-link-color: var(--#{config.$prefix}body-color) !default;
$dropdown-link-hover-color: var(--#{config.$prefix}brand-text-emphasis) !default;
$dropdown-link-hover-bg: var(--#{config.$prefix}brand-bg-subtle) !default;
$dropdown-link-active-color: var(--#{config.$prefix}brand-text-emphasis) !default;
$dropdown-link-active-bg: var(--#{config.$prefix}brand-bg-subtle) !default;
$dropdown-link-border-radius: border-radius.$border-radius !default;

$dropdown-header-color: var(--#{config.$prefix}tertiary-text-emphasis) !default;
$dropdown-header-padding: $dropdown-item-padding-y $dropdown-item-padding-x !default;

$dropdown-divider-margin-y: map.get($spacing-sizes, 2) !default; //8px
$dropdown-divider-bg: var(--#{config.$prefix}primary-border-subtle) !default;
