@use 'sass:map';
@use './settings.spacing' as *;

$border-radius: map.get($spacing-sizes, 2) !default; //8px
$border-radius-sm: map.get($spacing-sizes, 1) !default; //4px
$border-radius-md: map.get($spacing-sizes, 1) !default; //4px
$border-radius-lg: map.get($spacing-sizes, 'px-10') !default; //10px
$border-radius-xl: map.get($spacing-sizes, 3) !default; //12px
$border-radius-xxl: map.get($spacing-sizes, 4) !default; //16px
$border-radius-3xl: map.get($spacing-sizes, 6) !default; //24px
$border-radius-4xl: map.get($spacing-sizes, 8) !default; //32px
$border-radius-pill: map.get($spacing-sizes, 200) !default; //800px

// Enable rounded corners
$enable-rounded: true !default;
