@use 'sass:map';
@use './settings.spacing' as *;
@use './settings.border-radius' as *;
@use './settings.config' as *;
@use './settings.typography' as *;
@use './settings.colors' as *;

$messages-width: 100%;

$messages-padding-x: map.get($spacing-sizes, 8) !default; //32px
$messages-padding-y: $messages-padding-x !default;
$messages-border-radius: $border-radius-xl !default;
$messages-border-width: 0px !default;
$messages-border-color: null !default;
$messages-bg: var(--#{$prefix}secondary-bg-subtle) !default;

$messages-content-margin-top: map.get($spacing-sizes, 8) !default; //32px

$messages-avatar-margin: map.get($spacing-sizes, 3) !default; //12px

$messages-items-padding-x: map.get($spacing-sizes, 0) !default; //0
$messages-items-padding-y: map.get($spacing-sizes, 0) !default; //0
$messages-items-width: 479px !default;
$messages-items-border-width: 0px !default;
$messages-items-border-color: transparent !default;
$messages-items-border-radius: null !default;
$messages-items-gap: map.get($spacing-sizes, 1) !default; //4px

$messages-text-padding-x: map.get($spacing-sizes, 3) !default; //12px
$messages-text-padding-y: map.get($spacing-sizes, 3) !default; //12px
$messages-text-font-size: $font-size-sm !default;
$messages-text-primary-color: var(--#{$prefix}body-color) !default;
$messages-text-secondary-color: var(--#{$prefix}body-color) !default;
$messages-text-primary-bg: var(--#{$prefix}brand-bg-subtle) !default;
$messages-text-secondary-bg: var(--#{$prefix}tertiary-bg-subtle) !default;
$messages-text-border-radius: $border-radius-xxl !default;

$messages-file-padding-x: $messages-text-padding-x !default;
$messages-file-padding-y: $messages-text-padding-y !default;
$messages-file-text-font-size: $messages-text-font-size !default;
$messages-file-text-primary-color: $messages-text-primary-color !default;
$messages-file-text-secondary-color: $messages-text-secondary-color !default;
$messages-file-icon-size: map.get($spacing-sizes, 10) !default; //40px
$messages-file-icon-bg: $primary-2 !default;
$messages-file-icon-bg-dark: $primary-7 !default;
$messages-file-icon-margin-right: map.get($spacing-sizes, 2) !default; //8px
$messages-file-info-font-size: $font-size-xs !default;
$messages-file-info-color: var(--#{$prefix}tertiary-text-emphasis) !default;
$messages-file-primary-bg: $messages-text-primary-bg !default;
$messages-file-secondary-bg: $messages-text-secondary-bg !default;
$messages-file-border-radius: $border-radius-xxl !default;

$messages-image-width: 400px !default;
$messages-image-height: 260px !default;
$messages-image-border-radius: $border-radius-xxl !default;

$messages-form-margin-top: map.get($spacing-sizes, 8) !default; //32px
$messages-form-row-gap: map.get($spacing-sizes, 2) !default; //8px
$messages-form-submit-icon-size: map.get($spacing-sizes, 6) !default; //24px

$messages-input-padding-x: map.get($spacing-sizes, 3) !default; //12px
$messages-input-padding-y: map.get($spacing-sizes, 3) !default; //12px
$messages-input-font-size: $font-size-base !default;
$messages-input-color: var(--#{$prefix}body-color) !default;
$messages-input-placeholder-color: var(--#{$prefix}tertiary-text-emphasis) !default;
$messages-input-border-width: 1px !default;
$messages-input-border-color: var(--#{$prefix}secondary-border-subtle) !default;
$messages-input-border-radius: $border-radius-xl !default;

$messages-input-options-icons-size: map.get($spacing-sizes, 6) !default; //24px
$messages-input-options-row-gap: map.get($spacing-sizes, 2) !default; //8px

$messages-body-height: calc(100vh - 600px) !default;
