@use 'sass:map';
@use './settings.spacing' as *;
@use './settings.config' as *;
@use './settings.typography' as *;
@use './settings.border-radius' as *;

$input-width: 100% !default;
$input-color: var(--#{$prefix}body-color) !default;
$input-bg: var(--#{$prefix}body-bg) !default;
$input-bg-disabled: var(--#{$prefix}secondary-bg-subtle) !default;
$input-font-size: $font-size-sm !default;
$input-font-size-sm: $font-size-sm !default;
$input-font-size-lg: $font-size-base !default;
$input-line-height-md: 20px !default;
$input-line-height-sm: 20px !default;
$input-line-height-lg: 24px !default;

$input-padding-x: map.get($spacing-sizes, 3) !default; //12px
$input-padding-y: map.get($spacing-sizes, 'px-10') !default; //10px
$input-padding-x-sm: map.get($spacing-sizes, 3) !default; //12px
$input-padding-y-sm: map.get($spacing-sizes, 1.5) !default; //6px
$input-padding-x-lg: map.get($spacing-sizes, 3) !default; //12px
$input-padding-y-lg: map.get($spacing-sizes, 3) !default; //12px

$input-border-width: var(--#{$prefix}border-width) !default;
$input-border-color: var(--#{$prefix}primary-border-subtle) !default;
$input-hover-border-color: $input-border-color !default;
$input-focus-border-color: $input-hover-border-color !default;

$input-invalid-border-color: var(--#{$prefix}error) !default;
$input-success-border-color: var(--#{$prefix}success) !default;
$input-border-radius: $border-radius-xl !default;

$input-placeholder-color: var(--#{$prefix}tertiary-text-emphasis) !default;
$input-disabled-color: var(--#{$prefix}tertiary-text-emphasis) !default;
$input-disabled-bg: var(--#{$prefix}secondary-bg-subtle) !default;

$input-textarea-height: 100px !default;
$input-textarea-height-sm: 80px !default;
$input-textarea-height-lg: 120px !default;
