@use 'sass:map';
@use './settings.spacing' as *;
@use 'settings.config' as config;
@use 'settings.typography' as typography;
@use 'settings.border-radius' as border-radius;

$steps-padding-x: map.get($spacing-sizes, 0) !default; //0px
$steps-padding-y: map.get($spacing-sizes, 0) !default; //0px

$steps-item-color: var(--#{config.$prefix}tertiary-text-emphasis) !default;
$steps-item-bg: var(--#{config.$prefix}secondary-bg-subtle) !default;
$steps-item-active-color: var(--#{config.$prefix}brand-text-emphasis) !default;
$steps-item-active-bg: var(--#{config.$prefix}primary) !default;
$steps-item-number-bg: $steps-item-bg !default;
$steps-item-number-color: $steps-item-color !default;
$steps-item-number-active-color: var(--#{config.$prefix}gray-1) !default;
$steps-item-number-size: map.get($spacing-sizes, 7) !default; //24px
$steps-item-number-font-size: typography.$font-size-sm !default;
$steps-item-number-border-radius: border-radius.$border-radius-pill !default;
$steps-item-font-size: typography.$font-size-sm !default;
$steps-item-content-gap: map.get($spacing-sizes, 2) !default; //8px

$steps-line-height: 1px !default;
$steps-line-width: 40px !default;
$steps-gap: map.get($spacing-sizes, 3) !default; //12px

$steps-line-height-vertical: 40px !default;
$steps-line-width-vertical: 1px !default;
