@use 'sass:map';
@use './settings.spacing' as *;
@use './settings.config' as *;
@use './settings.typography' as *;

$list-color: var(--#{$prefix}body-color) !default;
$list-font-size: $font-size-base !default;
$list-font-weight: $font-weight-normal !default;
$list-item-gap: map.get($spacing-sizes, 1) !default; //4px
$list-padding-left: map.get($spacing-sizes, 5) !default; //20px
$list-item-dash-width: 12px !default;
$list-item-dash-height: 2px !default;
