@use 'sass:map';
@use './settings.spacing' as *;
@use 'settings.typography' as typography;
@use 'settings.config' as config;

$testimonial-width: 100% !default;
$testimonial-padding-x: map.get($spacing-sizes, 0) !default; //0px
$testimonial-padding-y: map.get($spacing-sizes, 0) !default; //0px
$testimonial-inner-spacer: map.get($spacing-sizes, 20) !default; //20px
$testimonial-bg: null !default;
$testimonial-quote-font-size: typography.$h3-font-size !default;
$testimonial-quote-font-size-sm: typography.$font-size-md !default;
$testimonial-quote-font-size-lg: typography.$h2-font-size !default;
$testimonial-quote-font-weight: typography.$font-weight-medium !default;
$testimonial-quote-color: var(--#{config.$prefix}body-color) !default;
$testimonial-author-font-size: typography.$font-size-base !default;
$testimonial-author-color: var(--#{config.$prefix}body-color) !default;
$testimonial-author-role-font-size: typography.$font-size-xs !default;
$testimonial-author-role-color: var(--#{config.$prefix}tertiary-text-emphasis) !default;
$testimonial-author-inner-spacer: map.get($spacing-sizes, 12) !default; //12px
