@use 'sass:map';
@use 'settings.spacing' as *;
@use 'settings.config' as config;
@use 'settings.typography' as fonts;

$card-spacer-y: map.get($spacing-sizes, 4) !default; //16px
$card-spacer-x: map.get($spacing-sizes, 4) !default; //16px
$card-row-spacer-y: map.get($spacing-sizes, 3) !default; //12px
$card-row-spacer-x: map.get($spacing-sizes, 3) !default; //12px
$card-title-spacer-y: map.get($spacing-sizes, 1) !default; //4px
$card-action-spacer-y: map.get($spacing-sizes, 3) !default; //12px
$card-header-spacer-y: map.get($spacing-sizes, 3) !default; //12px

$card-title-color: var(--#{config.$prefix}body-color) !default;
$card-title-font-size: fonts.$font-size-base !default;
$card-text-color: var(--#{config.$prefix}secondary-text-emphasis) !default;
$card-text-font-size: fonts.$font-size-sm !default;

$card-border-width: var(--#{config.$prefix}border-width) !default; //1px
$card-border-color: var(--#{config.$prefix}primary-border-subtle) !default;

$card-border-radius: var(--#{config.$prefix}border-radius-lg) !default;
$card-image-border-radius: $card-border-radius !default;

$card-boxshadow: none !default;
$card-hover-box-shadow: none !default;
$card-height: null !default;

$card-bg: var(--#{config.$prefix}primary-bg-subtle) !default;
$card-bg-hover: var(--#{config.$prefix}secondary-bg-subtle) !default;

$card-icon-size: map.get($spacing-sizes, 5) !default; //20px
$card-icon-padding: map.get($spacing-sizes, 'px-10') !default; //10px
$card-icon-bg: var(--#{config.$prefix}brand-bg-subtle) !default;
$card-icon-color: var(--#{config.$prefix}brand-text-emphasis) !default;

$card-width: 100% !default;

$card-hover: false !default;
