// Typography
//
// Font, line-height, and color for body text, headings, and more.

// Font stacks with appropriate fallbacks
$Roboto: 'Roboto', sans-serif !default;

$helvetica-neue:
  'Helvetica Neue',
  'Helvetica',
  'Arial',
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  sans-serif !default;
$system-font-stack:
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen-Sans,
  Ubuntu,
  Cantarell,
  'Helvetica Neue',
  Arial,
  sans-serif !default;

$font-family-base: $Roboto !default;
$font-family-sans-serif: $Roboto !default;
$font-family-monospace:
  SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !default;
$headings-font-family: $Roboto !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-heavy: 800 !default;
$font-weight-black: 900 !default;
$font-weight-base: $font-weight-normal !default;

// $font-size-root affects the value of `rem`, which is used for as well font sizes, paddings, and margins
// $font-size-base affects the font size of the body text
$font-size-root: null !default;
$font-size-base: 1rem !default; //16px
$font-size-xs: $font-size-base * 0.75 !default; //12px
$font-size-sm: $font-size-base * 0.875 !default; //14px
$font-size-md: $font-size-base * 1.125 !default; //18px
$font-size-lg: $font-size-base * 1.25 !default; //20px
$font-size-xl: $font-size-base * 1.5 !default; //20px
$font-size-2xl: $font-size-base * 2 !default; //20px

$h1-font-size: $font-size-base * 2.5 !default; //40px
$h2-font-size: $font-size-base * 2 !default; //32px
$h3-font-size: $font-size-base * 1.5 !default; //24px
$h4-font-size: $font-size-base * 1.25 !default; //20px
$h5-font-size: $font-size-base * 1.125 !default; //18px
$h6-font-size: $font-size-base !default; //16px

// Font sizes map for utilities
$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  'xs': $font-size-xs,
  'sm': $font-size-sm,
  'md': $font-size-md,
  'lg': $font-size-lg,
  'base': $font-size-base,
) !default;

$display-1: $font-size-base * 4 !default; //64px

$line-height-base: 1.2 !default;
$line-height-sm: 1.43 !default;
$line-height-lg: 1.56 !default;

$headings-margin-bottom: 0 !default;
$headings-font-weight: $font-weight-bold !default;
$headings-line-height: 1.3 !default;

$h1-letter-spaceing: -1px !default;
$h2-letter-spaceing: -1px !default;
$h3-letter-spaceing: -1px !default;
$h4-letter-spaceing: -0.5px !default;
$h5-letter-spaceing: -0.5px !default;
$h6-letter-spaceing: -0.5px !default;

$paragraph-margin-bottom: 0 !default;
$body-text-align: null !default;
