@use 'sass:map';
@use './settings.typography' as *;
@use './settings.config' as *;
@use './settings.spacing' as *;

$list-group-width: 100% !default;
$list-group-bg: null !default;

$list-group-item-padding-y: map.get($spacing-sizes, 3) !default; //12px
$list-group-item-padding-x: $list-group-item-padding-y !default;
$list-group-item-font-size: $font-size-base !default;
$list-group-item-color: var(--#{$prefix}body-color) !default;
$list-group-item-disabled-color: var(--#{$prefix}disabled-text-emphasis) !default;
$list-group-item-border-color: var(--#{$prefix}primary-border-subtle) !default;
$list-group-item-border-width: var(--#{$prefix}border-width) !default;
$list-group-item-bg: var(--#{$prefix}body-bg) !default;
