@use 'sass:map';
@use './settings.spacing' as *;
@use 'settings.config' as config;
@use 'settings.typography' as typography;
@use 'settings.border-radius' as borderRadius;

$tooltip-max-width: 240px !default;
$tooltip-padding-x: map.get($spacing-sizes, 3) !default; //12px
$tooltip-padding-y: map.get($spacing-sizes, 2) !default; //8px
$tooltip-bg: var(--#{config.$prefix}invert-bg-subtle) !default;

$tooltip-font-size: typography.$font-size-xs !default;
$tooltip-font-weight: typography.$font-weight-normal !default;
$tooltip-color: var(--#{config.$prefix}body-bg) !default;

$tooltip-border-radius: borderRadius.$border-radius !default;
$tooltip-border-width: null !default;
$tooltip-border-color: null !default;
$tooltip-box-shadow: null !default;

$tooltip-arrow-size: map.get($spacing-sizes, 3) !default; //12px