@use '../01-settings/settings.config' as config;
@use '../01-settings/settings.grid' as grid;
@use '../01-settings/settings.breakpoints' as breakpoints;
@use '../02-tools/tools.breakpoints' as *;
@use '../02-tools/tools.grid' as *;

.o-container,
.o-container-fluid {
  @include make-container();
}

@each $breakpoint, $container-max-width in grid.$container-max-widths {
  .o-container-#{$breakpoint} {
    @extend .o-container-fluid;
  }

  @include media-breakpoint-up($breakpoint, breakpoints.$grid-breakpoints) {
    %responsive-container-#{$breakpoint} {
      max-width: $container-max-width;
    }

    @each $name, $width in breakpoints.$grid-breakpoints {
      .o-container {
        @extend %responsive-container-#{$breakpoint};
      }
    }
  }

  $extend-breakpoint: true;

  @if ($extend-breakpoint) {
    .o-container-#{$breakpoint} {
      @extend %responsive-container-#{$breakpoint};
    }

    @if ($breakpoint == $breakpoint) {
      $extend-breakpoint: false;
    }
  }
}
