// Forward all utility files
@forward 'utilities.background';
@forward 'utilities.border';
@forward 'utilities.clearfix';
@forward 'utilities.display';
@forward 'utilities.flex';
@forward 'utilities.glass-fixes';
@forward 'utilities.link';
@forward 'utilities.object-fit';
@forward 'utilities.opacity';
@forward 'utilities.overflow';
@forward 'utilities.position';
@forward 'utilities.shadow';
@forward 'utilities.sizes';
@forward 'utilities.spacing';
@forward 'utilities.text';
@forward 'utilities.visibility';
@forward 'utilities.visually-hidden';
@forward 'utilities.z-index';

// Forward the main utilities generator
@forward 'utilities';
