@use 'sass:map';
@use '../01-settings/settings.config' as config;
@use '../01-settings/settings.design-tokens' as color-maps;
@use '../01-settings/settings.border' as border;

// Define utilities for borders
$utilities-border: (
  'border': (property: border,
    class: u-border,
    values: (null: var(--#{config.$prefix}border-width) var(--#{config.$prefix}border-style) var(--#{config.$prefix}border-color),
      0: 0,
    ),
  ),
  'border-top': (property: border-top,
    class: u-border-t,
    values: (null: var(--#{config.$prefix}border-width) var(--#{config.$prefix}border-style) var(--#{config.$prefix}border-color),
      0: 0,
    ),
  ),
  'border-end': (property: border-inline-end,
    class: u-border-e,
    values: (null: var(--#{config.$prefix}border-width) var(--#{config.$prefix}border-style) var(--#{config.$prefix}border-color),
      0: 0,
    ),
  ),
  'border-bottom': (property: border-bottom,
    class: u-border-b,
    values: (null: var(--#{config.$prefix}border-width) var(--#{config.$prefix}border-style) var(--#{config.$prefix}border-color),
      0: 0,
    ),
  ),
  'border-start': (property: border-inline-start,
    class: u-border-s,
    values: (null: var(--#{config.$prefix}border-width) var(--#{config.$prefix}border-style) var(--#{config.$prefix}border-color),
      0: 0,
    ),
  ),
  'border-color': (property: border-color,
    class: u-border,
    local-vars: ('border-opacity': 1,
    ),
    values: color-maps.$utilities-border-colors,
  ),
  'subtle-border-color': (property: border-color,
    class: u-border,
    values: color-maps.$utilities-border-subtle,
  ),
  'border-width': (property: border-width,
    class: u-border,
    values: border.$border-widths,
  ),
  'border-opacity': (css-var: true,
    class: u-border-opacity,
    values: (10: 0.1,
      25: 0.25,
      50: 0.5,
      75: 0.75,
      100: 1,
    ),
  ),
  'rounded': (property: border-radius,
    class: u-rounded,
    values: (null: var(--#{config.$prefix}border-radius),
      0: 0,
      sm: var(--#{config.$prefix}border-radius-sm),
      md: var(--#{config.$prefix}border-radius),
      lg: var(--#{config.$prefix}border-radius-lg),
      xl: var(--#{config.$prefix}border-radius-xl),
      xxl: var(--#{config.$prefix}border-radius-xxl),
      circle: 50%,
      pill: var(--#{config.$prefix}border-radius-pill),
    ),
  ),
  'rounded-top': (property: border-start-start-radius border-start-end-radius,
    class: u-rounded-top,
    values: (null: var(--#{config.$prefix}border-radius),
      0: 0,
      sm: var(--#{config.$prefix}border-radius-sm),
      md: var(--#{config.$prefix}border-radius),
      lg: var(--#{config.$prefix}border-radius-lg),
      xl: var(--#{config.$prefix}border-radius-xl),
      xxl: var(--#{config.$prefix}border-radius-xxl),
      circle: 50%,
      pill: var(--#{config.$prefix}border-radius-pill),
    ),
  ),
  'rounded-end': (property: border-start-end-radius border-end-end-radius,
    class: u-rounded-end,
    values: (null: var(--#{config.$prefix}border-radius),
      0: 0,
      sm: var(--#{config.$prefix}border-radius-sm),
      md: var(--#{config.$prefix}border-radius),
      lg: var(--#{config.$prefix}border-radius-lg),
      xl: var(--#{config.$prefix}border-radius-xl),
      xxl: var(--#{config.$prefix}border-radius-xxl),
      circle: 50%,
      pill: var(--#{config.$prefix}border-radius-pill),
    ),
  ),
  'rounded-bottom': (property: border-end-end-radius border-end-start-radius,
    class: u-rounded-bottom,
    values: (null: var(--#{config.$prefix}border-radius),
      0: 0,
      sm: var(--#{config.$prefix}border-radius-sm),
      md: var(--#{config.$prefix}border-radius),
      lg: var(--#{config.$prefix}border-radius-lg),
      xl: var(--#{config.$prefix}border-radius-xl),
      xxl: var(--#{config.$prefix}border-radius-xxl),
      circle: 50%,
      pill: var(--#{config.$prefix}border-radius-pill),
    ),
  ),
  'rounded-start': (property: border-end-start-radius border-start-start-radius,
    class: u-rounded-start,
    values: (null: var(--#{config.$prefix}border-radius),
      0: 0,
      sm: var(--#{config.$prefix}border-radius-sm),
      md: var(--#{config.$prefix}border-radius),
      lg: var(--#{config.$prefix}border-radius-lg),
      xl: var(--#{config.$prefix}border-radius-xl),
      xxl: var(--#{config.$prefix}border-radius-xxl),
      circle: 50%,
      pill: var(--#{config.$prefix}border-radius-pill),
    ),
  ),
);