@use 'sass:map';
@use '../01-settings/settings.design-tokens' as color-maps;
@use '../01-settings/settings.config' as config;
@use '../01-settings/settings.colors' as colors;
@use '../02-tools/tools.to-rgb' as *;
@use '../02-tools/tools.color-functions' as *;

// Define utilities for links
$utilities-link: (
  'link-opacity': (css-var: true,
    class: u-link-opacity,
    state: hover,
    values: (10: 0.1,
      25: 0.25,
      50: 0.5,
      75: 0.75,
      100: 1,
    ),
  ),
  'link-offset': (property: text-underline-offset,
    class: u-link-offset,
    state: hover,
    values: (1: 0.125em,
      2: 0.25em,
      3: 0.375em,
    ),
  ),
  'link-underline': (property: text-decoration-color,
    class: u-link-underline,
    local-vars: ('link-underline-opacity': 1,
    ),
    values: map.merge(color-maps.$utilities-links-underline,
      (null: rgba(var(--#{config.$prefix}link-color-rgb),
          var(--#{config.$prefix}u-link-underline-opacity, 1)),
      )),
  ),
  'link-underline-opacity': (css-var: true,
    class: u-link-underline-opacity,
    state: hover,
    values: (0: 0,
      10: 0.1,
      25: 0.25,
      50: 0.5,
      75: 0.75,
      100: 1,
    ),
  ),
);

// Define variables with default values
$enable-important-utilities: true !default;
$link-shade-percentage: 15% !default;

// All-caps `RGBA()` function used because of this Sass bug: https://github.com/sass/node-sass/issues/2251
@each $color, $value in color-maps.$theme-colors {
  .u-link-#{$color} {
    $important: '';

    @if $enable-important-utilities {
      $important: '!important';
    }

    color: RGBA(var(--#{config.$prefix}#{$color}-rgb), var(--#{config.$prefix}u-link-opacity, 1)) #{$important};
    text-decoration-color: RGBA(var(--#{config.$prefix}#{$color}-rgb),
      var(--#{config.$prefix}u-link-underline-opacity, 1)) #{$important};

    @if $link-shade-percentage !=0 {

      &:hover,
      &:focus {
        $hover-color: null;

        @if colors.$color-contrast-dark =='white' {
          $hover-color: shade-color($value, $link-shade-percentage);
        }

        @else {
          $hover-color: tint-color($value, $link-shade-percentage);
        }

        color: RGBA(#{to-rgb($hover-color)}, var(--#{config.$prefix}u-link-opacity, 1)) #{$important};
        text-decoration-color: RGBA(#{to-rgb($hover-color)},
          var(--#{config.$prefix}u-link-underline-opacity, 1)) #{$important};
      }
    }
  }
}