@use 'sass:map';
@use '../01-settings/settings.colors' as colors;
@use '../01-settings/settings.design-tokens' as color-maps;
@use '../01-settings/settings.config' as config;

// Define utilities for background
$utilities-bg: (
  'background-color': (
    property: background-color,
    class: u-bg,
    values: map.merge(
        color-maps.$utilities-bg-colors,
        (
          'transparent': transparent,
        )
      ),
  ),
  'subtle-background-color': (
    property: background-color,
    class: u-bg,
    values: map.merge(
        color-maps.$utilities-bg-subtle,
        (
          'transparent': transparent,
        )
      ),
  ),
);
