@use 'sass:map';

// Define utilities for visibility
$utilities-visibility: (
  'visibility': (
    property: visibility,
    class: null,
    values: (
      u-visible: visible,
      u-invisible: hidden,
    ),
  ),
);
