@use 'sass:map';
@use '../01-settings/settings.spacing' as *;

// Define utilities for spacing
$utilities-spacing: (
  'margin': (responsive: true,
    property: margin,
    class: u-m,
    values: map.merge($spacing-sizes,
      (auto: auto,
      )),
  ),
  'margin-x': (responsive: true,
    property: margin-inline,
    class: u-mx,
    values: map.merge($spacing-sizes,
      (auto: auto,
      )),
  ),
  'margin-y': (responsive: true,
    property: margin-block,
    class: u-my,
    values: map.merge($spacing-sizes,
      (auto: auto,
      )),
  ),
  'margin-top': (responsive: true,
    property: margin-top,
    class: u-mt,
    values: map.merge($spacing-sizes,
      (auto: auto,
      )),
  ),
  'margin-end': (responsive: true,
    property: margin-inline-end,
    class: u-me,
    values: map.merge($spacing-sizes,
      (auto: auto,
      )),
  ),
  'margin-bottom': (responsive: true,
    property: margin-bottom,
    class: u-mb,
    values: map.merge($spacing-sizes,
      (auto: auto,
      )),
  ),
  'margin-start': (responsive: true,
    property: margin-inline-start,
    class: u-ms,
    values: map.merge($spacing-sizes,
      (auto: auto,
      )),
  ),
  // Negative margin utilities
  'negative-margin': (responsive: true,
    property: margin,
    class: u-m,
    values: $negative-spacers,
  ),
  'negative-margin-x': (responsive: true,
    property: margin-inline,
    class: u-mx,
    values: $negative-spacers,
  ),
  'negative-margin-y': (responsive: true,
    property: margin-block,
    class: u-my,
    values: $negative-spacers,
  ),
  'negative-margin-top': (responsive: true,
    property: margin-top,
    class: u-mt,
    values: $negative-spacers,
  ),
  'negative-margin-end': (responsive: true,
    property: margin-inline-end,
    class: u-me,
    values: $negative-spacers,
  ),
  'negative-margin-bottom': (responsive: true,
    property: margin-bottom,
    class: u-mb,
    values: $negative-spacers,
  ),
  'negative-margin-start': (responsive: true,
    property: margin-inline-start,
    class: u-ms,
    values: $negative-spacers,
  ),
  // Padding utilities
  'padding': (responsive: true,
    property: padding,
    class: u-p,
    values: $spacing-sizes,
  ),
  'padding-x': (responsive: true,
    property: padding-inline,
    class: u-px,
    values: $spacing-sizes,
  ),
  'padding-y': (responsive: true,
    property: padding-block,
    class: u-py,
    values: $spacing-sizes,
  ),
  'padding-top': (responsive: true,
    property: padding-top,
    class: u-pt,
    values: $spacing-sizes,
  ),
  'padding-end': (responsive: true,
    property: padding-inline-end,
    class: u-pe,
    values: $spacing-sizes,
  ),
  'padding-bottom': (responsive: true,
    property: padding-bottom,
    class: u-pb,
    values: $spacing-sizes,
  ),
  'padding-start': (responsive: true,
    property: padding-inline-start,
    class: u-ps,
    values: $spacing-sizes,
  ),
  // Gap utility
  'gap': (responsive: true,
    property: gap,
    class: u-gap,
    values: $spacing-sizes,
  ),
  'row-gap': (responsive: true,
    property: row-gap,
    class: u-row-gap,
    values: $spacing-sizes,
  ),
  'column-gap': (responsive: true,
    property: column-gap,
    class: u-column-gap,
    values: $spacing-sizes,
  ),
);