@use 'sass:map';

// Define utilities for flex layout
$utilities-flex: (
  'flex': (
    responsive: true,
    property: flex,
    class: u-flex,
    values: (
      fill: 1 1 auto,
    ),
  ),
  'flex-direction': (
    responsive: true,
    property: flex-direction,
    class: u-flex,
    values: row column row-reverse column-reverse,
  ),
  'flex-grow': (
    responsive: true,
    property: flex-grow,
    class: u-flex,
    values: (
      grow-0: 0,
      grow-1: 1,
    ),
  ),
  'flex-shrink': (
    responsive: true,
    property: flex-shrink,
    class: u-flex,
    values: (
      shrink-0: 0,
      shrink-1: 1,
    ),
  ),
  'flex-wrap': (
    responsive: true,
    property: flex-wrap,
    class: u-flex,
    values: wrap nowrap wrap-reverse,
  ),
  'justify-content': (
    responsive: true,
    property: justify-content,
    class: u-justify-content,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      between: space-between,
      around: space-around,
      evenly: space-evenly,
    ),
  ),
  'align-items': (
    responsive: true,
    property: align-items,
    class: u-align-items,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      baseline: baseline,
      stretch: stretch,
    ),
  ),
  'align-content': (
    responsive: true,
    property: align-content,
    class: u-align-content,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      between: space-between,
      around: space-around,
      stretch: stretch,
    ),
  ),
  'align-self': (
    responsive: true,
    property: align-self,
    class: u-align-self,
    values: (
      auto: auto,
      start: flex-start,
      end: flex-end,
      center: center,
      baseline: baseline,
      stretch: stretch,
    ),
  ),
  'order': (
    responsive: true,
    property: order,
    class: u-order,
    values: (
      first: -1,
      0: 0,
      1: 1,
      2: 2,
      3: 3,
      4: 4,
      5: 5,
      last: 6,
    ),
  ),
);
