@use 'sass:map';

// Define utilities for opacity
$utilities-opacity: (
  'opacity': (
    property: opacity,
    class: u-opacity,
    values: (
      0: 0,
      25: 0.25,
      50: 0.5,
      75: 0.75,
      100: 1,
    ),
  ),
);
