@use 'sass:map';
@use '../01-settings/settings.position' as *;

// Define utilities for position
$utilities-position: (
  'position': (property: position,
    class: u-position,
    values: static relative absolute fixed sticky,
  ),
  'top': (property: top,
    class: u-top,
    values: $position-values,
  ),
  'bottom': (property: bottom,
    class: u-bottom,
    values: $position-values,
  ),
  'start': (property: inset-inline-start,
    class: u-start,
    values: $position-values,
  ),
  'end': (property: inset-inline-end,
    class: u-end,
    values: $position-values,
  ),
  'translate-middle': (property: transform,
    class: u-translate-middle,
    values: (null: translate(-50%, -50%),
      x: translateX(-50%),
      y: translateY(-50%),
    ),
  ),
);